
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[,] str =
{   // 名称，方法
        { "AddCode","t"}
    };
}


<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title title-pin">
        @{
            for (int i = 0; i < str.Length / 2; i++)
            {
                <li class="@(i==0?"layui-this":"")">@str[i, 0]</li>
            }
        }
    </ul>
    <div class="layui-tab-content">
        <!-- WebSoket -->
        <div class="layui-tab-item layui-show">
            <form action="@Url.Action("Index", "AddCode")" method="post" class="layui-form">
                <fieldset class="layui-field-title">
                    <legend>表单</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">字典类型</label>
                        <div class="layui-input-block">
                            @Html.DropDownList("Type")
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-block" value="生成" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>