/* 将a标签充满容器 */
.com-a-block {
    padding: 1%;
    transition: .2s;
    display: inline-block;
    width: 98%;
    height: 100%;
    color: #01AAED;
}

    .com-a-block:hover {
        background-color: #f2f2f2;
        color: #808080;
    }

.com-a-block-anim {
    border-bottom: 1px dashed #f2f2f2;
}

    .com-a-block-anim:hover {
        padding-left: 2%;
        width: 97%;
    }
/* #region 分页样式 */
/* 页码样式 */
.pagelist {
    display: block;
    width: calc(100%-2);
    background-color: #f2f2f2;
    border: 1px solid #e2e2e2;
    border-top: none;
    margin-top: -10px;
    border-radius: 0px;
}

    .pagelist div {
        display: inline-block;
    }

    .pagelist span,
    .pagelist a,
    .pagelist input {
        /* 定位&&大小 */
        margin: 0px;
        padding: 9px 18px;
        height: 20px;
        /*float: left;*/
        /* 文字样式 */
        text-decoration: none;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #6c6c6c;
        /* 容器样式 */
        background: #fff;
        border: none;
        background-color: rgba(1,1,1,0);
        border-radius: 0px;
        outline: none;
        transition: .2s;
        overflow: hidden;
    }

    /* 当前页码样式 */
    .pagelist .current {
        color: #eee;
        border-radius: 2px;
        background-color: #c2c2c2;
    }

    /* 可跳转链接悬浮样式 */
    .pagelist a:hover {
        background-color: #dddddd;
    }

    /* 每页数量,输入框样式 */
    .pagelist input {
        width: 22px;
    }

        /* 输入框聚焦样式 */
        .pagelist input:focus {
            background-color: #ddd;
        }

    /* 第一个span圆角 */
    .pagelist .l-btns span:first-child,
    .pagelist .default span:first-child {
    }

    /* 最后一个span圆角 */
    .pagelist .l-btns span:last-child,
    .pagelist .default span:last-child,
    .pagelist .default a:last-child {
        /*margin-right: 5px;*/
    }
/* #endregion */
