<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- 链接字符串 -->
  <connectionStrings>
    <add name="CodeFirst" connectionString="Data Source=111.230.131.116,1433;Initial Catalog=CodeFirst;Persist Security Info=True;User ID=sa;Password=1364202622@qq.com;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--配置管理-->
  <appSettings>
    <!--DataBase：数据库操作-->
    <add key="DataBaseContext" value="E:\GitHub\Test\WinForm\bin\Debug\Models.dll;Models.CodeFirst.CodeFirst" />
    <add key="DalPath" value="E:\GitHub\Test\DAL\bin\Debug\DAL.dll"/>
    <add key="BllPath" value="E:\GitHub\Test\BLL\bin\Debug\BLL.dll"/>
    <add key="IBaseDal" value="DAL.BaseDal`1" />
    <add key="BaseDal" value="DAL.CodeFirst" />
    <add key="BaseService" value="BLL.CodeFirst" />
    <!--DataBase：End-->

    <!---->
    <add key="IcoTtf" value="..\..\Data\Fonts;fa-brands-400;fa-regular-400;fa-solid-900"/>
    <add key="CustomColor" value="..\..\Data\CustomColor.json"/>

  </appSettings>

  <!--EF配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>