@using Common
@using Models
@model ReqData<Lang>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/" method="post" class="layui-form">
    <fieldset>
        <legend>存入字典</legend>
        <div class="layui-form-item">
            <label class="layui-form-label"> 字 典 </label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入字典" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </fieldset>
</form>
<table lay-even lay-skin="line" class="layui-table table-center">
    <thead>
        <tr>
            <th>序号</th>
            <th>MsgID</th>
            <th>MsgStr</th>
            <th>操作</th>
        </tr>
    </thead>
        @{
            foreach (var item in Model.DataList) {
                <tr>
                    <td>@item.id</td>
                    <td>@item.msgid</td>
                    <td>@item.msgstr</td>
                    <td>@Html.ActionLink("删除", "Delete")</td>
                </tr>
            }
        }
</table>

