@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- CSS文件引用 -->
    <link href="~/Content/Script/Plug/layui/css/layui.css" rel="stylesheet" />
    <!-- JS文件引用 -->
    <script src="~/Content/Script/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Script/Plug/layui/layui.all.js"></script>
</head>
<body>
    <script>

        $(function () {
            // 创建iframe
            layer.open({
            type: 2,
            title: false,
            shadeClose: false,
            closeBtn: 0,
            shade: false,
            maxmin: false, //开启最大化最小化按钮
            area: ['100%', '100%'],
            anim:5,
            content: '@Url.Action("Default", "Home")'
            });
        });
        
    </script>
</body>
</html>