
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[,] str =
{       // 名称，方法
        {"首页","Index" },//,
        {"JS中文替换","" }
    };
}

<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title title-pin">
        @{
            for (int i = 0; i < str.Length / 2; i++) {
                <li class="@(i==0?"layui-this":"")">@str[i, 0]</li>
            }
        }
    </ul>
    <div class="layui-tab-content">
        <!-- 语言包翻译 -->
        <div class="layui-tab-item layui-show">
            <form action="@Url.Action("Translate", "Language")" method="post" class="layui-form">
                <fieldset>
                    <legend>语言翻译</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">翻译网站</label>
                        <div class="layui-input-block">
                            <select name="url">
                                <option value="http://translate.google.cn/translate_a/t?">谷歌翻译</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">翻译类型</label>
                        <div class="layui-input-block">
                            <select name="Lan">
                                <option value="zh;en">中文转英文</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"> 语 言 包 </label>
                        <div class="layui-input-block">
                            <input type="text" name="path" placeholder="请输入语言包路径" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-block" value="翻译" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- JS中文替换 -->
        <div class="layui-tab-item">
            <form action="@Url.Action("RepFile", "Language")" method="post" class="layui-form">
                <fieldset>
                    <legend>JS中文替换</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label"> 语 言 包 </label>
                        <div class="layui-input-block">
                            <input type="text" name="path_po" placeholder="请输入语言包路径" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"> J S 文 件 </label>
                        <div class="layui-input-block">
                            <input type="text" name="path_js" placeholder="请输入JS文件夹路径" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"> 导出路径 </label>
                        <div class="layui-input-block">
                            <input type="text" name="path_out" placeholder="请输入JS导出路径" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-block" value="开始导出" onclick="Loging()" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>