
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[,] str =
{   // 名称，方法
        { "题目","t"},
        {"广度优先搜索","Breadth" },
        {"深度优先搜索","Depth" }
    };
    int index = 1;
}

<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title title-pin">
        @{
            for (int i = 0; i < str.Length / 2; i++) {
                <li class="@(i==0?"layui-this":"")">@str[i, 0]</li>
            }
        }
    </ul>
    <div class="layui-tab-content">
        <!-- 题目描述 -->
        <div class="layui-tab-item layui-show">
            <blockquote class="layui-elem-quote ">
                <p>有一张航拍图，其中，0代表海洋，1~9代表陆地海拔。</p>
                <p>现在小哼要随意降落在块陆地上，请求出小哼降落的海岛面积！</p>
                <p>（注：只有上下左右连接，才属于同一岛屿！而且航拍图数据随机！）</p>
            </blockquote>

            <blockquote class="layui-elem-quote layui-quote-nm">
                <b>例：</b>小哼降落在(3,6)，求与(3,6)相邻的红色方块面积
                <p><img src="~/Content/Images/Search.png" style="border:1px solid #ccc;border-radius:2px;" /></p>
            </blockquote>
        </div>
        <!-- 广度优先 -->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
                <p>思路：从一点出发，向周围辐射查找</p>
            </blockquote>

            @* 测试文本框 *@
            @Html.Partial("_Input",
           new ViewDataDictionary { { "Url", Url.Action(str[index++, 1], "Search") }, { "Title", "计算" }, { "Des", "对应\"题目\"地图，输入初始坐标，逗号隔开" } })

            <pre class="layui-code code" lay-title="C#">
        /// <summary>
        /// 存储地图中的单元格
        /// </summary>
        public class MapCell {
            public MapCell(int r, int c, int v) {
                R = r; C = c; Val = v;
            }

            /// <summary>
            /// 所在行数
            /// </summary>
            public int R;
            /// <summary>
            /// 所在列数
            /// </summary>
            public int C;
            /// <summary>
            /// 对应值
            /// </summary>
            public int Val;
        }

        /// <summary>
        /// 广度优先搜索
        /// </summary>
        /// <param name="Arr">地图数组< /param>
        /// <param name="init">初始降落坐标< /param>
        /// <param name="Rows">总行数< /param>
        /// <param name="Cells">总列数< /param>
        public int BreadthFirst(int[,] Arr, int[] init) {
            // 创建队列
            Queue< MapCell> queue = new Queue< MapCell>();
            List< string> list = new List< string>();

            // 根据坐标创建第一个“地图格子”，
            MapCell first = new MapCell(init[0], init[1], Arr[init[0], init[1]]);
            if (first.Val <= 0)
                return 0;

            // 加入到队列中
            queue.Enqueue(first);
            list.Add(first.R + "," + first.C);

            int Sum = 0;

            // 循环队列中的值
            while (queue.Count > 0) {
                // 取出第一个格子
                MapCell temp = queue.Dequeue();
                Sum += temp.Val;
                // 修改状态，表示已经找过
                Arr[temp.R, temp.C] = -1;

                // 规定，上(1)下(2)左(3)右(4)
                for (int i = 1; i <= 4; i++) {
                    // 返回对应的格子
                    MapCell Next = FindCell(Arr, temp.R, temp.C, i);
                    if (Next != null)
                        // 防止重复添加
                        if (!list.Contains(Next.R + "," + Next.C)) {
                            queue.Enqueue(Next);
                            list.Add(Next.R + "," + Next.C);
                        }
                }
            }
            return Sum;
        }

        /// <summary>
        /// 寻找岛屿格子
        /// </summary>
        /// <param name="Arr">地图数组< /param>
        /// <param name="r">当前行< /param>
        /// <param name="c">当前列< /param>
        /// <param name="d">寻找方向< /param>
        /// <param name="Rows">总行数< /param>
        /// <param name="Cells">总列数< /param>
        /// <returns></returns>
        public MapCell FindCell(int[,] Arr, int r, int c, int d) {
            // 向上寻找
            if (d == 1) c--;
            // 向下寻找
            else if (d == 2) c++;
            // 向左寻找
            else if (d == 3) r--;
            // 向右寻找
            else if (d == 4) r++;

            // 防止超出数组下限
            if (r < 0 || c < 0)
                return null;
            // 防止超出数组上限
            if (r >= Arr.GetLength(0) || c >= Arr.GetLength(1))
                return null;

            // 只返回陆地，
            int val = Arr[r, c];
            if (val > 0)
                return new MapCell(r, c, val);
            return null;
        }
            </pre>
        </div>
        <!-- 深度优先 -->
        <div class="layui-tab-item">
            <blockquote class="layui-elem-quote">
                <p>思路：从一点出发，一直走到走不通为止，然后返回上一条岔路，继续向下走，全部分支走完即结束</p>
            </blockquote>

            @* 测试文本框 *@
            @Html.Partial("_Input",
           new ViewDataDictionary { { "Url", Url.Action(str[index++, 1], "Search") }, { "Title", "计算" }, { "Des", "对应\"题目\"地图，输入初始坐标，逗号隔开" } })


            <pre class="layui-code code" lay-title="C#">
                
        /// <summary>
        /// 深度优先搜索
        /// </summary>
        /// <param name="Arr">地图数组< /param>
        /// <param name="r">当前行< /param>
        /// <param name="c">当前列< /param>
        /// <returns></returns>
        public int DepthFirst(int[,] Arr, int r, int c) {
            // 退出条件
            if (r < 0 || c < 0)
                return 0;
            if (r >= Arr.GetLength(0) || c >= Arr.GetLength(1))
                return 0;
            if (Arr[r, c] <= 0)
                return 0;

            int Sum = Arr[r, c];
            Arr[r, c] = -1;

            // 向上找
            Sum += DepthFirst(Arr, r, c - 1);
            // 向下找
            Sum += DepthFirst(Arr, r, c + 1);
            // 向左找
            Sum += DepthFirst(Arr, r - 1, c);
            // 向右找
            Sum += DepthFirst(Arr, r + 1, c);

            return Sum;
        }
</pre>
        </div>
    </div>
</div>