* {
    color: #808080;
    text-decoration: none;
    outline: none;
    transition: .2s;
    font-family:华文隶书;
    font-stretch:extra-condensed;
}

p {
    padding: 14px 28px;
    border-radius: 4px;
}

    p:hover {
        background-color: #eee;
    }

a {
    display: inline-block;
    padding: 7px 14px;
    color: #0094ff;
}

    a:hover {
        color: orangered;
    }

select, input[type=text] {
    width: 200px;
    padding: 7px 0px 10px 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: 5px;
}

input[type=submit] {
    padding: 8px 14px;
    border: 1px solid #808080;
    background-color: rgba(1,1,1,0);
    border-radius: 2px;
    margin: 5px;
    color: #808080;
}

input[type=submit]:hover {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 5px;
    color: #fff;
    background-color:#ccc;
}
