
@{
    string title = ViewData["Title"] + "";
    if (string.IsNullOrEmpty(title)) { title = "提交"; }

    string des = ViewData["Des"] + "";
    if (string.IsNullOrEmpty(des)) { des = "输入数字，逗号分割"; }
    if (des.IndexOf("+") >= 0) { des = "输入数字，逗号分割" + des.Substring(1); }

    string url = ViewData["Url"] + "";
    if (string.IsNullOrEmpty(url)) { des = "没有提交地址，无法测试！"; }
}

<blockquote class="layui-elem-quote layui-quote-nm">
    <div class="layui-row layui-input-item-r">
        <div class="layui-col-sm11"><input placeholder="@des" class="layui-input"></div>
        <div class="layui-col-sm1"><button class="layui-btn layui-btn-block" onclick="Algo(this,'@url')">@title</button></div>
    </div>
</blockquote>
