<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!-- 链接字符串 -->
  <connectionStrings>
    <add name="CodeFirst" connectionString="Server=192.168.20.93;Database=CodeFirst;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DemoEntities" connectionString="metadata=res://*/Demo.csdl|res://*/Demo.ssdl|res://*/Demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Demo;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GSQ_PaChongEntities" connectionString="metadata=res://*/GSQ.csdl|res://*/GSQ.ssdl|res://*/GSQ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=George_AG_Node6;initial catalog=GSQ_PaChong;persist security info=True;user id=sa;password=Ijwe856dfk7UHJ56d;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- 配置信息 -->
  <appSettings></appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>